* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #212428;
}

html {
    scroll-behavior: smooth;
}

.top-bar {
    background-color: #393b3d;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0%;
    padding-top: 18px;
    padding-bottom: 18px;
    z-index: 1;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    margin-top: 0;
}

.head ul li {
    list-style-type: none;
    display: inline-block;
}

.head ul li a {
    text-decoration: none;
    color: rgb(227, 243, 227);
    padding-right: 20px;
    top: 35px;
    font-size: 20px;
    font-family: 'poppins';
    font-weight: 500;
}

.head ul li a:hover {
    color: rgb(55, 255, 55);
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(55, 255, 55);
}

.logo {
    padding-left: 0px;
    margin-left: 40px;
}

#lets-talk {
    margin-left: 30px;
    margin-right: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    background-color: #e3f3e3;
    border: none;
}

#lets-talk:hover {
    background-color: rgb(55, 255, 55);
}

.hero-section {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.hero-text {
    color: #ffff;
}

#welcome {
    padding-bottom: 15px;
    font-size: 25px;
    font-family: 'poppins';
}

.text {
    display: flex;
}

.text h1 {
    font-size: 55px;
    font-weight: 600;
}

.text h1 span {
    color: rgb(55, 255, 55);
    padding-left: 13px;
}

#description {
    margin-top: 15px;
    font-size: 20px;
}

#my-pic {
    width: 500px;
    height: 100vh;
    margin-top: -50px;
}

.styled-line {
  border: none;
  height: 0.3px;            
  background-color: #000;            
  margin: 30px     
}

.features {
    display: grid;
    grid-template-rows: auto auto;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.features-text p {
    font-size: 25px;
    font-family: 'poppins';
    font-weight: 300;
    text-align: center;
    color: rgb(55, 255, 55);
    padding-bottom: 8px;
}

.features-text h1 {
    font-size: 50px;
    font-family: 'verdana';
    font-weight: 600;
    color: #e3f3e3;
    text-align: center;
}

.features-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
  z-index: -1;
}

.features-card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 5px;
  padding-top: 8px;
  position: relative;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  color: #191c29;
  cursor: pointer;
  font-family: 'verdana';
  margin-right: 22px;
  margin-bottom: 27px;
}

.features-card:hover .features-icon {
    color: #37FF37;
    font-size: 40px;
    padding-bottom: 30px;
}

.features-card:hover .features-box h3 {
    font-size: 22px;
    color: #e3f3e3;
    font-weight: 600;
    padding-bottom: 25px;
}

.features-card:hover .features-box p {
    font-size: 15px;
    color: #e3f3e3;
    padding-left: 5px;
    padding-right: 5px;
}


.features-card:hover:before, .features-card:hover:after {
  animation: none;
  opacity: 0;
}


.features-card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 15px;
  background-image: linear-gradient(
    var(--rotate)
    , #37FF37, #57C785 43%, #EDDD53);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.features-card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #37FF37, #57C785 43%, #EDDD53);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.portfolio-container {
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.portfolio-section {
    justify-content: center;
    align-items: center;
}

.portfolio-gallery {
    display: flex;
    gap: 20px;
    margin-top: 70px;
}

.portfolio-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio-text{
    text-align: center;
}

.portfolio-text p {
    font-size: 25px;
    font-family: 'poppins';
    font-weight: 300;
    text-align: center;
    color: rgb(55, 255, 55);
    padding-bottom: 8px;
}

.portfolio-text h1 {
    font-size: 50px;
    font-family: 'verdana';
    font-weight: 600;
    color: #e3f3e3;
    text-align: center;
}

.portfolio-card {
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    transform: translate(-0%, -0%);
    box-shadow: 0 10px 20px rgb(40, 40, 40);
    cursor: pointer;
}

.portfolio-image img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: #37FF37;
    border-radius: 15px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #191c29;
    font-family: 'verdana';
    text-align: center;
}

.portfolio-card:hover .overlay {
    opacity: 0.9;
}






